site_name: eunomia
repo_url: https://github.com/eunomia-bpf/eunomia.dev
site_url: https://eunomia.dev
copyright: Copyright (c) 2024 eunomia-bpf org.
site_description: 'Unlock the potential of eBPF'
remote_branch: docs
edit_uri: https://github.com/eunomia-bpf/eunomia.dev/tree/main/docs
theme:
  name: material
  language: en
  logo: assets/icon.svg
  favicon: assets/icon.svg
  custom_dir: material/overrides
  font:
    text: Roboto
  palette:
    - scheme: default
      primary: white
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - search.suggest
    - search.highlight
    - search.share
    - navigation.footer
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.expand
    - navigation.path
    - navigation.top
    - content.tabs.link
    - content.action.edit
    - content.action.view

markdown_extensions:
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.keys
  - pymdownx.blocks.caption
  - admonition
  - attr_list
  - md_in_html
  - footnotes
  - def_list
  - admonition
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true

hooks:
  - hooks/socialmedia.py

nav:
  - Home: 
    - index.md
  - Tutorials: 
    - tutorials/index.md
    - ... | flat | tutorials/**/*.md
  - Blog: blog
  - bpftime: 
    - bpftime/index.md
    - bpftime/documents/build-and-test.md
    - bpftime/documents/usage.md
    - bpftime/documents/examples.md
    - bpftime/documents/available-features.md
    - ... | bpftime/**/*.md
  - eunomia-bpf:
    - eunomia-bpf/index.md
    - ... | eunomia-bpf/**/*.md
  - GPTtrace: 
    - GPTtrace/index.md
  - wasm-bpf: 
    - wasm-bpf/index.md
  - Ecosystem: 
    - others/index.md
    - ... | others/**/*.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/eunomia-bpf
    - icon: fontawesome/solid/paper-plane
      link: mailto:yunwei356@gmail.com
  generator: false
  analytics: 
    provider: google
    property: G-1YVMXGL0MY
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >- 
            Thanks for your feedback! Help us improve this page by
            using our <a href="https://github.com/orgs/eunomia-bpf/discussions" target="_blank" rel="noopener">Github discussion</a>.
  alternate:
    - name: English
      link: /en/ 
      lang: en
    - name: Chinese
      link: /zh/
      lang: zh
plugins:
  - social
  - awesome-pages
  - blog:
      archive: false
      categories: false
      pagination: false
      blog_toc: true
  - search
  - tags
  - exclude:
      glob:
        - tutorials/third_party*
  - i18n:
      default_language: en
      languages:
        en:
          name: English
          build: true
        zh:
          name: 简体中文
      material_alternate: true
      nav_translations:
        zh:
          Getting Started: 开始
          Support: 支持
          Quick Start: 快速开始
          Architecture: 项目架构
          Installation: 安装
          From source: 从源代码
          Known Issues: 已知问题
          Examples: 示例
          Blogs: 博客
          Misc: 其他
          Tutorials: 教程
          Introduction: 简介
          README: 文档
          Home: 主页
          Documents: 文档
          ecli with docker: 在docker中使用ecli
          ecosystem: 生态
  - git-revision-date-localized:
      enable_creation_date: true
  - git-authors  