site_name: eunomia
repo_url: https://github.com/eunomia-bpf
site_url: https://eunomia.dev
repo_name: eunomia-bpf
copyright: Copyright (c) 2024 eunomia-bpf org.
site_description: 'eunomia-bpf: Exploring and improving eBPF toolchains and runtimes'
remote_branch: docs
edit_uri: https://github.com/eunomia-bpf/eunomia.dev/tree/main/docs
theme:
  name: material
  logo: assets/icon.svg
  favicon: assets/icon.svg
  custom_dir: material/overrides
  palette:
    - scheme: default
      primary: white
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.indexes
    - navigation.expand
    - navigation.sections
    - header.autohide
    - navigation.footer
    - content.action.edit
nav:
  - Home:
      - index.md

  - Tutorials: 
    - bpf-developer-tutorial:
      - tutorials/index.md
      - tutorials/0-introduce/README.md
      - tutorials/1-helloworld/README.md
      - tutorials/2-kprobe-unlink/README.md
      - tutorials/3-fentry-unlink/README.md
      - tutorials/4-opensnoop/README.md
      - tutorials/5-uprobe-bashreadline/README.md
      - tutorials/6-sigsnoop/README.md
      - tutorials/7-execsnoop/README.md
      - tutorials/8-exitsnoop/README.md
      - tutorials/9-runqlat/README.md
      - tutorials/10-hardirqs/README.md
      - tutorials/11-bootstrap/README.md
      - tutorials/12-profile/README.md
      - tutorials/13-tcpconnlat/README.md
      - tutorials/14-tcpstates/README.md
      - tutorials/15-javagc/README.md
      - tutorials/16-memleak/README.md
      - tutorials/17-biopattern/README.md
      - tutorials/18-further-reading/README.md
      - tutorials/19-lsm-connect/README.md
      - tutorials/20-tc/README.md
      - tutorials/21-xdp/README.md
      - tutorials/22-android/README.md
      - tutorials/23-http/README.md
      - tutorials/24-hide/README.md
      - tutorials/25-signal/README.md
      - tutorials/26-sudo/README.md
      - tutorials/27-replace/README.md
      - tutorials/28-detach/README.md
      - tutorials/29-sockops/README.md
      - tutorials/30-sslsniff/README.md
      - tutorials/34-syscall/README.md
      - tutorials/35-user-ringbuf/README.md
      - tutorials/36-userspace-ebpf/README.md
      - tutorials/37-uprobe-rust/README.md
      - tutorials/38-btf-uprobe/README.md
    - bcc-documents:
      - tutorials/bcc-documents/tutorial_bcc_python_developer.md
      - tutorials/bcc-documents/kernel-versions.md
      - tutorials/bcc-documents/kernel_config.md
      - tutorials/bcc-documents/reference_guide.md
      - tutorials/bcc-documents/special_filtering.md
      - tutorials/bcc-documents/tutorial.md
    - bpftrace-tutorial:
      - tutorials/bpftrace-tutorial/README.md
    
  - Blogs: 
    - blogs/index.md
    - blogs/kgent.md
    - blogs/inline-hook.md
    - blogs/bpftime.md
    - blogs/ebpf-security.md
    - blogs/userspace-ebpf.md
    - blogs/1_0-release.md
    - blogs/ebpf-papers.md
    - blogs/coolbpf-eunomia.md
    - blogs/bpf-news.md
    - blogs/lmp-eunomia.md
    - blogs/wasm-bpf.md
    - blogs/how-to-write-c-in-wasm.md
    - blogs/introduce-to-wasm-bpf-bpf-community.md
    - blogs/0_3_0-release.md
    - blogs/ebpf-wasm.md
    - blogs/GPTtrace.md
    - blogs/how-to-write-rust-in-wasm.md
    - blogs/eunomia-bpf的三月进展.md
    - blogs/test-for-Android.md
    - blogs/github-templates.md
  
  - GPTtrace:
    - GPTtrace/index.md
  
  - wasm-bpf:
    - wasm-bpf/index.md

  - bpftime:
    - bpftime/index.md
    - bpftime/documents/introduction.md
    - bpftime/documents/available-features.md
    - bpftime/documents/build-and-test.md
    - Usage:
      - bpftime/documents/usage.md
      - bpftime/documents/co-re.md
    - bpftime/documents/examples.md
    - bpftime/documents/performance.md
    - bpftime/documents/how-it-works.md
    - bpftime/documents/contact.md
    - bpftime/documents/attach.md
    - bpftime/documents/bpftimetool.md
    - bpftime/documents/bpftimeaot.md

  - eunomia-bpf:
      - Introduction: eunomia-bpf/introduction.md
      - Quick Start: eunomia-bpf/quickstart.md
      - Support: eunomia-bpf/support.md
      - Installation:
          - eunomia-bpf/setup/index.md
          - From source: eunomia-bpf/setup/build.md
          - Android: eunomia-bpf/setup/build-android-arm.md
      - eunomia-cc: 
         - eunomia-bpf/ecc/index.md
         - eunomia-bpf/ecc/usage.md
         - eunomia-bpf/ecc/docker-usage.md
         - eunomia-bpf/ecc/github-template.md
      - ecli: 
        - eunomia-bpf/ecli/index.md
        - eunomia-bpf/ecli/server.md
      - exporter: 
        - eunomia-bpf/exporter/index.md
        - eunomia-bpf/exporter/usage.md
      - Architecture: eunomia-bpf/architecture/index.md
      - Misc: 
        - eunomia-bpf/benchmark.md
        - eunomia-bpf/manual.md
        - eunomia-bpf/video.md
        - eunomia-bpf/online.md
        - eunomia-bpf/supporting-external-BTF.md

  - ecosystem:
    - others/index.md
    - others/contribute.md
    - others/ideas.md
    - others/bpf-benchmark.md
    - others/bpf-compatible.md
    - others/ebpf-gpts.md

markdown_extensions:
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - admonition
  - attr_list
  - md_in_html
  - footnotes
  - def_list
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/eunomia-bpf
    - icon: fontawesome/solid/paper-plane
      link: mailto:yunwei356@gmail.com
  generator: false
  alternate:
    - name: English
      link: /en/ 
      lang: en
    - name: Chinese
      link: /zh/
      lang: zh
plugins:
  - social
  - search
  - tags
  - i18n:
      default_language: en
      languages:
        en:
          name: English
          build: true
        zh:
          name: 简体中文
      material_alternate: true
      nav_translations:
        zh:
          Getting Started: 开始
          Support: 支持
          Quick Start: 快速开始
          Architecture: 项目架构

          Installation: 安装
          From source: 从源代码

          Known Issues: 已知问题
          Examples: 示例

          Blogs: 博客
          Misc: 其他
          Tutorials: 教程
          Introduction: 简介
          README: 文档
          Home: 主页
          Documents: 文档
          ecli with docker: 在docker中使用ecli
          ecosystem: 生态
